<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
</head>
<body>

<form action="CalBoxVolume.php" method="post">
    Længde:  <input type="text" name="length"></br>
    Højde:  <input type="text" name="width"></br>
    Bredde:  <input type="text" name="height"></br>
    <button name="submit" value="Submit">Beregn</button>
</form>
<h2>{{ length }}{{ height }}{{ width }}</h2>
<h2>{{ resultat }}</h2>


</body>
</html>